<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email Confirmation</h1>
	<p>Hello,</p>

	<p>To activate your account please confirm your email by clicking the link below:</p>

	<a href="<%= confirmation_link %>"><%= confirmation_link %></a>

	<p>If you did not submit this request, please ignore this email</p>
  </body>
</html>
