<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset</h1>
	<p>Hello,</p>

	<p> A password request has been submitted for your account, in order to
	reset your password, please click the link below or copy it into your
	browser:</p>

	<a href="<%= reset_link %>"><%= reset_link %></a>

	<p>If you did not submit this request, please ignore this email</p>
  </body>
</html>
